.section {
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 3rem;
}
.section h1 {
    position: relative;
    bottom: 40%;
    opacity: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.s0 {
    background-image: url(../img/1.jpg);
    color: rgba(0, 0, 0, 0.7);
}
.s1 {
    background-image: url(../img/2.jpg);
    color: rgba(255, 255, 255, 0.5);

}
.s2 {
    background-image: url(../img/3.jpg);
    background-position: bottom;
    color: rgba(0, 0, 0, 0.7);
}
.s3 {
    background-image: url(../img/4.jpg);
    color: rgba(255, 255, 255, 0.5);
}
.s4 {
    background-image: url(../img/5.jpg);
    color: rgba(0, 0, 0, 0.7);
}