@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

#wrap {
    width: 80vw;
    margin: 0 auto;
    margin-top: 1%;
    font-family: 'Noto Serif KR', serif;
}

/* header-start */
#header {
    display: flex;
    justify-content: flex-start;
    height: 10vh;
}
#header img {
    width: 15vw;
    height: 100%;
}
#header ul {
    list-style: none;
    display: flex;
    height: 100%;
}
#header ul li a {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: #2c3e50;
    height: 100%;
    line-height: 2.3;
    padding-left: 50px;
}
/* header-end */
/* main-start */
#main {
    height: 40vh;
    overflow: hidden;
    position: relative; 
}
#main div {
    height: 100%;
    width: 100%;
    position: absolute;
}
#main div:nth-child(2){
    display: none;
}
#main div:last-child {
    display: none;
}
#main img {
    width: 100%;
    height: 100%;
    display: block;
}
/* main-end */
/* content-start */
#contents {
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
/* content-end */