@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

/* header-start */
#header {
    padding: 5px;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: flex-start;
    height: 10vh;
    position: fixed;
    z-index: 5;
}
#header h1 a {
    text-decoration: none;
    color: #2c3e50;
    font-size: 3rem;
}
#header ul {
    list-style: none;
    display: flex;
    height: 100%;
}
#header ul li a {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: #2c3e50;
    height: 100%;
    line-height: 2.3;
    padding-left: 50px;
}

.active {
    font-weight: bold;
}
