@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

#wrap {
    width: 80vw;
    margin: 0 auto;
    margin-top: 1%;
}

/* header-start */
#header {
    display: flex;
    justify-content: flex-start;
    height: 10vh;
}
#header img {
    width: 15vw;
    height: 100%;
}
#header ul {
    list-style: none;
    display: flex;
    height: 100%;
}
#header ul li a {
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: #2c3e50;
    height: 100%;
    line-height: 2.3;
    padding-left: 50px;
}
/* header-end */
/* main-start */
#main {
    height: 40vh;
    overflow: hidden;
    position: relative; 
}
#main div {
    height: 100%;
    width: 100%;
    position: absolute;
}
#main div:nth-child(2){
    display: none;
}
#main div:last-child {
    display: none;
}
#main img {
    width: 100%;
    height: 100%;
    display: block;
}
/* main-end */
/* content-start */
#contents {
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#contents article {
    padding: 5px;
}
/* content-end */
/* footer-start */
#footer {
    margin-top: 1%;
    height: 10vh;
    display: grid;
    grid-template-columns: 30% 70%;
}
#footer img {
    width: 100%;
    min-height: 50%;
}
#footer .foot {
    text-align: center;
    font-family: 'Noto Serif KR', serif;
}
#footer .foot div {
    line-height: 2.3;
    height: 50%;
}
.img-list {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    max-width: 840px;
    position: relative;
}
#footer .foot img {
    height: 100%;
    width: 50%;
    position: absolute;
    transform: translateX(-50%);
}
/* footer-end */
/* about */

.about-header {
    width: 100%;
    position: fixed;
    z-index: 1;
}
.section {
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.s0 {background-image: url(https://www.korea.kr/newsWeb/resources/attaches/2009.08/04/63278326954282270a093747d350945e.jpg);}
.s1 {background-image: url(https://mblogthumb-phinf.pstatic.net/20130927_64/gangjingun_1380244447418pPjMg_JPEG/%B8%B6%B7%AE%C7%D722.jpg?type=w2);}
.s2 {background-image: url(./img/까막섬.jpg);}