* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 2000px;
}

#wrap {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.imgs {
    height: 100vh;
}

.img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.img:nth-child(1) {
    background-image: url(./img/main_0.png);
}
.img:nth-child(2) {
    background-image: url(./img/main_1.png);
}
.img:nth-child(3) {
    background-image: url(./img/main_2.png);
}
.img:nth-child(4) {
    background-image: url(./img/main_3.png);
}
.img:nth-child(5) {
    background-image: url(./img/main_4.png);
}
.img:nth-child(6) {
    background-image: url(./img/main_5.png);
}
.img:nth-child(7) {
    background-image: url(./img/main_6.png);
    background-size: cover;
}