* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    background: linear-gradient(#4997DC, #4E64C1);
    width: 100%;
    height: 70vh;
    color: #ffffff;
    position: relative;
    padding: 100px;
}

.title {
    font-size: 2rem;
}

.text {
    padding: 20px 0;
}

.btn {
    color: #ffffff;
    background-color: rgb(68,68,69);
    padding: 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
}

.phone {
    width: 20%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.portfollo {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sub-title {
    font-size: 1.2rem;
}

.service {
    width: 100%;
    height: 40vh;
    background: #4E61C0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 100px;
    margin-top: 90px;
}

.icon {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 100px;
    display: inline-block;
}

.icons {
    padding: 30px;
}

.fas {
    font-size: 40px;
    color: #4E61C0;
}