* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px 100px;
    background: #f3f6fc;
}

.top {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;

}

.name {
    font-size: 2rem;
}

.location {
    color: #70B9F7;
    margin-bottom: 5px;
}

.contact {
    border: none;
    background-color: #70B9F7;
    border-radius: 3px;
    color: #ffffff;
    padding: 10px;
    width: 100px;
}

.user-status {
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: #595959;
    padding: 40px;
}

hr {
    border: 1px solid #E9E9E9;
}

.contents {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 20px;
}

.left {
    height: 300px;
    line-height: 30px;
}

.bg-setting {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}

.about-wrap {
    padding: 30px;
    margin-bottom: 50px;
}

.about h2 {
    padding: 20px 0;
    font-size: 2rem;
}

.skill-wrap {
    padding: 30px;
}

.skill {
    border: 1px solid #D9D9D9;
    padding: 5px 10px;
    border-radius: 50px;
}

.signUp {
    text-align: center;
}

.signUp i {
    color: #70B9F7;
}

.text {
    margin: 10px 0;
}

.signUp button {
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #70B9F7;
}

.signUp p:last-child {
    color: #70B9F7;
}

.people {
    margin-top: 20px;
}

.people hr {
    border: 1px solid #e6e8ec;
    margin: 10px 0;
}

.person {
    display: flex;
    align-items: center;
    gap: 10px;
}

.person img {
    width: 70px;

}